{% extends 'dashboard/main.html' %}
{% load static %}
{% block content %}
<div class="dashboard-container mt-5">
    <div class="add-student">
        <button class="btn btn-dark mb-3">Add Student</button>
    </div>
    <div class="search-container">
        <input type="text" class="form-control" placeholder="Search for student records..." />
    </div>
    <div class="filter-container mt-2 d-flex justify-content-between align-items-center gap-1">
        <div class="filter-items">
            <select id="dept" class="form-select">
                <option value="">Select Course</option>
                <option value="cse">Computer Science</option>
                <option value="bio">Biology</option>
                <option value="cm">Commerce</option>
                <option value="ai">AI</option>
            </select>
        </div>
        <div class="filter-items">
            <input type="date" class="form-control" />
        </div>
    </div>
    <div class="student-lists-container mt-5">
        {% for student in students %}
        <!-- <a href="#" class="navigate-details text-decoration-none text-black">
            <div class="student-card">
                <div class="image-container">
                    {% if student.student_image %}
                    <img src="{{ student.student_image.url }}" alt="{{ student.name }}" class="student-profile-img" />
                    {% else %}
                    <img src="../../../media/default_pic.png" alt="{{ student.name }}" class="student-profile-img" />
                    {% endif %}
                </div>
                <div class="card-content">
                    <h1 class="text=black">{{ student.name }}</h1>
                    <p class="text=black">{{ student.roll_no }}</p>
                </div>
            </div>
        </a> -->
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const container = document.querySelector(".student-lists-container");

    const url = "http://127.0.0.1:8000/api/students/";

    function displayStudents(data) {
        //console.log(data)
        let dom = "";

        data.forEach((student) => {
            dom += `<a href="/students/${student.id}" class="navigate-details text-decoration-none text-black">
                <div class="student-card">
                    <div class="image-container">
                        ${student.student_image
                    ? `<img src="${student.student_image}" alt="${student.name}" class="student-profile-img" />`
                    : `<img src="../../../media/default_pic.png" alt="${student.name}" class="student-profile-img" />`
                }
                    </div>
                    <div class="card-content">
                        <h1 class="text-black">${student.name}</h1>
                        <p class="text-black">${student.roll_no}</p>
                    </div>
                </div>
            </a>`;
        });

        //console.log(dom)
        container.innerHTML = dom;
    }

    async function fetchStudents() {
        try {
            const response = await fetch(url);
            const data = await response.json();

            if (!data || !Array.isArray(data)) return;

            displayStudents(data);

            //console.log(data)
        } catch (err) {
            console.log(err.message);
        }
    }

    window.addEventListener("DOMContentLoaded", fetchStudents);

</script>
{% endblock %}